.mission-card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
  
    .mission-header {
      display: flex;
      align-items: center;
  
      img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }
  
      h3 {
        margin: 0;
      }
    }
  
    .mission-details {
      padding-top: 10px;
    }
  }
  